{% load cms_tags sekizai_tags staticfiles i18n widget_tweaks %}

{% addtoblock "custom_js_tmp" %}<script src="{% static 'js/quick.contact.widget.js' %}"></script>{% endaddtoblock %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<input type="hidden" id='form-contact-widget-lang' value="{{ LANGUAGE_CODE }}">

<form role="form" id="contact-plugin-form" class="contacts-plugin" method="post" action="{{ form_action }}">
    {% csrf_token %}

    {% for visible in form.visible_fields %}
    <div class="form-group">
      {{ visible|add_class:"form-control"}}
      <span class="error" style="color:#FC7474"></span>
    </div>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

  	{% if LANGUAGE_CODE == 'en' %}
  		<a href='#' id="submit-contact-plugin-form" class="btn btn-primary">Submit</a>
  	{% else %}
  		<a href='#' id="submit-contact-plugin-form" class="btn btn-primary">Enviar</a>
  	{% endif %}
</form>

{% if LANGUAGE_CODE == 'en' %}
	<div class="success" style="display:none; color:white;">Thank you!, We contact you as soon as possible.</div>
{% else %}
	<div class="success" style="display:none; color:white;">¡Gracias!, nos pondremos en contacto con usted en breve.</div>
{% endif %}