{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles i18n widget_tweaks %}

{% block body_classes %}{{ block.super }} contact-form {% endblock %}

{% block app_content %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<input type="hidden" id='form-contact-app-lang' value="{{ LANGUAGE_CODE }}">

<form method="post" role="form" id="form-contact-app">
	{% csrf_token %}

	{% for visible in form.visible_fields %}
		{% if forloop.counter0|divisibleby:"2" %} <div class="row"> {% endif %}
			<div class="col-lg-6">
				<div class="form-group {{ visible.css_classes }}">
					{% trans visible.label_tag %}
					{{ visible|add_class:"form-control"}}
					{% for error in visible.errors %}
						<span class="text-danger">{{ error }}</span>
					{% empty %}
						<!-- <span class="help-block">{{ visible.help_text }}</span> -->
					{% endfor %}
				</div>
			</div>
		{% if forloop.last or forloop.counter|divisibleby:"2" %} </div> {% endif %}
	{% endfor %}
	{% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
	<div class="row">
		<div class="col-lg-6"></div>
		<div class="col-lg-6">
			<button type="submit" id="form-contact-app-submt" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>
{% endblock app_content %}

{% block custom_js %}
<script>
	$(document).ready(function(){
		//Clean elements
		var app_lang = $('#form-contact-app-lang').val(),
		form_contact_app_labels = {
			'id_name' : {
				'lbl':'Full Name:',
				'pch':'Name'
			},
			'id_comments': {
				'lbl':'Message:',
				'pch':'Insert message here.'
			},
			'id_company': {
				'lbl':'Company:',
				'pch':'Company'
			},
			'id_telephone': {
				'lbl':'Telephone:',
				'pch':'Telephone number'
			},
			'id_email': {
				'lbl':'Email:',
				'pch':'Email'
			},
			'id_country': {
				'lbl':'Country',
				'pch':'Country'
			}
		},
		privacy_terms = {
			'es':{
				'lbl':'Acepto el <a href="/es/aviso-de-privacidad">Aviso de Privacidad</a>',
			},
			'en':{
				'lbl':'I accept the <a href="/en/privacy-notice/">Privacy Notice</a>',
			},
		},
		pt_lbl = privacy_terms.es.lbl;

		if(app_lang == 'en'){
			$.each( form_contact_app_labels, function( key, value ) {
			  	$("#form-contact-app label[for='"+key+"']").html(value.lbl);
			  	$("#form-contact-app #"+key).attr('placeholder', value.pch);
			  	$("#form-contact-app #"+key).attr('required', 'required');
			});
			pt_lbl = privacy_terms.en.lbl;
		}

		$('#form-contact-app #id_acepto_aviso_de_privacidad').remove();
		$('#form-contact-app #form-contact-app-submt').remove();
		$('#form-contact-app #id_comments').attr('rows', '3')

		//link de donde se manda el correo
		$('#form-contact-app #id_send_to').val(document.URL);

		//validacion de seleccion de pais
		$('#form-contact-app #id_telephone').prop("disabled", true);
		$('#form-contact-app #id_country').change(function(){
			var country_val = $('#form-contact-app #id_country').val();
			if (country_val == '' || country_val == undefined) {
				$('#form-contact-app #id_telephone').prop("disabled", true);
			} else {
				$('#form-contact-app #id_telephone').prop("disabled", false);
			}
		})

		//insert elements

		//masked input
		//$('#form-contact-app #id_country').val('EX')
		$('#form-contact-app #id_country').change(function(){
			var elval = $('#form-contact-app #id_country').val();
			var clear_telephone = $("#form-contact-app #id_telephone").val("");
			var html_number_code = " <span id='number_code' style='font-size: 10px;'> {% if LANGUAGE_CODE == 'en' %} Country code <b>+</b> City code <b>+</b> Phone number {% else %} Código País <b>+</b> Código Ciudad <b>+</b> Número Telefónico {% endif %} </span> ";
			var delete_number_code = $("#form-contact-app #number_code").remove();

			if(elval=='MX'){ 
				$("#form-contact-app #id_telephone").mask("(***) ***-****", {placeholder:"(***) ***-****"}); 
				delete_number_code;
				clear_telephone;
			}
			else if (elval=='EX'){
				$("#form-contact-app #id_telephone").mask("*** + **** + ********", {placeholder:"*** + **** + ********"});
				clear_telephone;
				//place holder label que indica la forma de mandar el telefono si es un país extranjero
				$("#form-contact-app #id_telephone").html(html_number_code).parent().append(html_number_code);
				// Country code + City code + Phone number
			}
			else{
				delete_number_code;
				clear_telephone; 
			}
		})


		var html = ' <input type="checkbox" name="acepto_aviso_de_privacidad"></input id="id_acepto_aviso_de_privacidad" required="required"> ' + pt_lbl;
		var sbmt_frm_txt = (app_lang == 'en') ? 'Submit' : 'Enviar'
		$("#form-contact-app label[for='id_acepto_aviso_de_privacidad']").html(html).parent().append('<button type="submit" class="btn btn-primary">'+sbmt_frm_txt+'</button>')
	})
</script>
{% endblock custom_js %}