{% load cms_tags sekizai_tags staticfiles i18n widget_tweaks %}

{% addtoblock "custom_js_tmp" %}<script src="{% static 'js/quick.contact.modal.widget.js' %}"></script>{% endaddtoblock %}


{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<input type="hidden" id='form-contact-modal-widget-lang' value="{{ LANGUAGE_CODE }}">

<form role="form" id="contact-plugin-modal-form" class="contacts-plugin" method="post" action="{{ form_action }}">
    {% csrf_token %}

    {% for visible in form.visible_fields %}
    <div class="form-group">
    	<label></label>
      	{{ visible|add_class:"form-control"}}
      	<span class="error" style="color:#FC7474"></span>
    </div>
    {% endfor %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
	<div class="checkbox">
	  	<label>
	  		{% if LANGUAGE_CODE == 'en' %}
	  			<input type="checkbox" required="required"> I accept the <a href="/en/privacy-notice/">Privacy Notice</a>
	  		{% else %}
	  			<input type="checkbox" required="required"> Acepto el <a href="/es/aviso-de-privacidad">Aviso de Privacidad</a>
	  		{% endif %}
	  	</label>
	</div>
</form>

{% if LANGUAGE_CODE == 'en' %}
	<div class="success" style="display:none;">Thank you!, We contact you as soon as possible.</div>
{% else %}
	<div class="success" style="display:none;">¡Gracias!, nos pondremos en contacto con usted en breve.</div>
{% endif %}