{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail %}

{% block body_classes %}{{ block.super }} services-list {% endblock %}

{% block content_breadcrumb %}
<div class="bread">
    <ol class="breadcrumb">
    	<li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
      	<li><a href="{% url 'services_list' %}"><i class="glyphicon glyphicon-chevron-right"></i> Servicios</a></li>
        <li class="active">{{service.title}}</li>
    </ol>
</div>
{% endblock content_breadcrumb %}

{% block content_texto_seo %}
<div class="textoSEO col-lg-12">
    <h1>{{ service.title }}</h1>
    <p>
        Compartir en redes sociales <b>(Botones)</b>
    </p>
    {{ service.content|safe }}
    <img src="{{ service.image.url }}" class="img-thumbnail img-responsive" alt="">
</div>
{% endblock content_texto_seo %}