{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail i18n %}

{% block body_classes %}{{ block.super }} services-list {% endblock %}

{% block app_content %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<div class="articulo-group col-lg-12">
	{% for service in object_list %}
	    {% if service.language == LANGUAGE_CODE %}
        <div class="row item-articulo">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{{ service.image.url }}" alt="" class="img-thumbnail img-responsive">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <h3>{{ service.title }}</h3>
                {{ service.content|truncatewords_html:32|safe }}
                <p>
                    <a href="{{ service.absolute_url }}" class="btn btn-primary">
                        {% if LANGUAGE_CODE == 'es' %}
                            Ver detalles
                        {% else %}
                            Show Details
                        {% endif %}
                    </a>
                </p>
            </div>
        </div>
        {% endif %}
    {% empty %}
        <h4>A&uacute;n no hay articulos publicados :(</h4>
	{% endfor %}
</div>
{% endblock app_content %}
