{% load staticfiles %}
<div id="slidercontainerplugin" class="fullwidthabnner-inicio">
	<ul>
		{% for slide in slider.slide_set.all %}
		    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
			<img src="{{ slide.image.url }}" >

			{% ifnotequal slide.content_position "without" %}
				{% if slide.content_position == "center" %}
					<div class="caption large_text sfb"  
						data-x="225" 
						data-y="200" 
						data-speed="300" 
						data-start="800" 
						data-easing="easeOutExpo">
				{% else %}
					<div class="caption large_text sfb"  
                    	data-x="10" 
                     	data-y="200" 
                     	data-speed="300" 
                     	data-start="800" 
                     	data-easing="easeOutExpo">
				{% endif %}

						{{ slide.content|safe }}

    				</div>
			{% endifnotequal %}
		</li>
		{% endfor %}
	</ul>
	<div class="tp-bannertimer"></div>
</div>