{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}

{% block body_classes %}{{ block.super }} articles-list {% endblock %}

{% block meta_title %}{% if industry.meta_title != '' %}{{industry.meta_title}}{% else %}{{industry.name}}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if industry.meta_description != '' %}{{industry.meta_description|striptags}}{% else %}{{industry.description|striptags}}{% endif %}{% endblock meta_description %}

{% block metadata_open_graph %}
<meta property="og:title" content="{% if industry.meta_title != '' %}{{industry.meta_title}}{% else %}{{industry.name}}{% endif %}" />
<meta property="og:description" content="{% if industry.meta_description != '' %}{{industry.meta_description|striptags}}{% else %}{{industry.description|striptags}}{% endif %}" />
<meta property="og:type" content="industry" />
<meta property="og:site_name" content="Sumicorp de México S.A. de C.V." />
<meta property="og:url" content="{{SITE_PROTOCOL_URL}}{{industry.get_absolute_url}}" />
<meta property="og:image" content="{{SITE_PROTOCOL_URL}}{{industry.image.url}}" />
<meta property="industry:published_time" content="{{industry.publish_date|date:"Y-m-d"}}">
<meta property="fb:admins" content="100008108760082"/>
{% endblock metadata_open_graph %}

{% block metadata_twitter_card %}
<meta name="twitter:title" content="{% if industry.meta_title != '' %}{{industry.meta_title|truncatechars:70}}{% else %}{{industry.name|truncatechars:70}}{% endif %}">
<meta name="twitter:description" content="{% if industry.meta_description != '' %}{{industry.meta_description|striptags|truncatechars:200}}{% else %}{{industry.description|striptags|truncatechars:200}}{% endif %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="@{{industry.created_by.profile.twitter}}">
<meta name="twitter:image:src" content="{{SITE_PROTOCOL_URL}}{{industry.image.url}}">
{% endblock metadata_twitter_card %}

{% block metadata_dublin_core %}
<meta name="dc.title" content="{% if industry.meta_title != '' %}{{industry.meta_title}}{% else %}{{industry.name}}{% endif %}">
<meta name="dc.description" content="{% if industry.meta_description != '' %}{{industry.meta_description|striptags}}{% else %}{{industry.description|striptags}}{% endif %}">

<meta name="dc.language" content="es">
<meta name="dc.date" content="{{industry.publish_date|date:"Y-m-d"}}">

<meta name="dc.subject" content="{{industry.dcm_subject}}">
<meta name="dc.keywords" content="{{industry.dcm_keywords}}">
<meta name="dc.source" content="{{industry.dcm_source}}">
{% endblock metadata_dublin_core %}

{% block app_content %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

{% block content_breadcrumb %}
<div class="bread">
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i>{% if LANGUAGE_CODE == 'es' %}Inicio{% else %}Main{% endif %}</a></li>
      <li><a href="{% page_url request.current_page.parent %}"> {% if LANGUAGE_CODE == 'es' %}Industrias{% else %}Industries{% endif %} </a></li>
      <li class="active">{{industry.name}}</li>
    </ol>
</div>
{% endblock content_breadcrumb %}

{% block content_texto_seo %}
{% endblock content_texto_seo %}

<div class="wrapper-thum col-lg-12">
    <div class="row">
        <div class="head col-lg-12">
        	<h2>{{industry.name}}</h2>
        </div>
    </div>
    <div class="row">
    	{% for product in products %}
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><a href="{{product.absolute_url}}">{{product.name}}</a></h3>
                    <a href="{{product.absolute_url}}"><img class="img-responsive" src="{{product.image.url}}" alt="{{product.image.alt}}"></a>
                    {% if LANGUAGE_CODE == 'es' %}
                        <p><a href="{{product.absolute_url}}" class="btn btn-primary btn-xs" role="button">Ver Producto</a></p>
                    {% else %}
                        <p><a href="{{product.absolute_url}}" class="btn btn-primary btn-xs" role="button">View Details</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>No se encontraron productos. </strong> Esta industria aún no tiene productos asignados.
        </div>
        {% endfor %}
    </div>
</div>


{% endblock app_content %}