{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}

{% block body_classes %}{{ block.super }} industry-list {% endblock %}


{% block app_content %}


{% for industry in object_list %}
    {% if forloop.counter0|divisibleby:"4" %} 
    <div class="destacados {% if forloop.first %} linea-a {% endif %} col-lg-12"> 
        <div class="row"> 
    {% endif %}
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 item">
                <h3>
                    {% if industry.absolute_url == '/es/industrias/que-necesitas/' or industry.absolute_url == '/es/industrias/automotriz/' or industry.absolute_url == '/es/industrias/tuberia-mecanica/' %}
                        {% if industry.absolute_url == '/es/industrias/que-necesitas/' %}
                            <a href="/es/que-necesitas/">¿Qu&eacute; necesitas?</a>
                        {% else %}
                            <a href="/es/productos/tuberia-mecanica/">Tuber&iacute;a Mec&aacute;nica</a>
                        {% endif %} 
                    {% elif industry.absolute_url == '/en/industries/what-do-you-need/' or industry.absolute_url == '/en/industries/automotive/' or industry.absolute_url == '/en/industries/mechanical-tubing/' %}
                        {% if industry.absolute_url == '/en/industries/what-do-you-need/' %}
                            <a href="/en/what-do-you-need/">What do you need?</a>
                        {% else %}
                            <a href="/en/products/mechanical-tubing/">Mechanical Tubing</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ industry.absolute_url }}">{% trans industry.name %}</a>
                    {% endif %}
                </h3>
                <div class="contenido">
                    <div class="icono">
                        <img class="img-responsive" src="{{ industry.image.url }}" alt=""/>
                    </div>
                    <div class="descrip">
                        <p>{% trans industry.description|safe %}</p>
                        {% if industry.absolute_url == '/es/industrias/que-necesitas/' or industry.absolute_url == '/es/industrias/automotriz/' %}
                            {% if industry.absolute_url == '/es/industrias/que-necesitas/' %}
                                <a class="btn btn-primary btn-xs" href="/es/que-necesitas/">{% if LANGUAGE_CODE == 'es' %}Ver más{% else %}View more{% endif %}</a>
                            {% else %}
                                <a class="btn btn-primary btn-xs" href="/es/productos/tuberia-mecanica/">{% if LANGUAGE_CODE == 'es' %}Ver más{% else %}View more{% endif %}</a>
                            {% endif %} 
                        {% elif industry.absolute_url == '/en/industries/what-do-you-need/' or industry.absolute_url == '/en/industries/automotive/' %}
                            {% if industry.absolute_url == '/en/industries/what-do-you-need/' %}
                                <a class="btn btn-primary btn-xs" href="/en/what-do-you-need/">{% if LANGUAGE_CODE == 'es' %}Ver más{% else %}View more{% endif %}</a>
                            {% else %}
                                <a class="btn btn-primary btn-xs" href="/en/listproducts/mechanical-tubing/">{% if LANGUAGE_CODE == 'es' %}Ver más{% else %}View more{% endif %}</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-primary btn-xs" href="{{ industry.absolute_url }}">{% if LANGUAGE_CODE == 'es' %}Ver más{% else %}View more{% endif %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% if forloop.last or forloop.counter|divisibleby:"4" %} 
        </div> 
    </div> 
    {% endif %}
{% endfor %}

{% endblock app_content %}