{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail i18n %}

{% block custom_bodytagclass %}blog_grid blog{% endblock custom_bodytagclass %}

{% block app_content  %}
{% get_current_language as LANGUAGE_CODE %}
<div class="articulo-group col-lg-12">
    <div class="row item-articulo">
        <ul class="grid row swipe-right" id="grid_blog">
        {% for article in object_list %}
            {% if article.language == LANGUAGE_CODE %}
            <li class="col-lg-12 col-md-12 col-sm-14" style="list-style-type: none;">
                <div class="row item-articulo">
                    <article>
                        <div class="col-lg-4 col-md-4 col-sm-4 img_tag">
                            <a class="link_img" href="{{article.get_absolute_url}}">
                                <img class="img-thumbnail img-responsive" src="{{article.image_list.url}}" alt="">
                            </a>
                            <a class="link_tag" href="#" style='display:none'>
                                categoria
                            </a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <h3>
                                <a href="{{article.get_absolute_url}}">{{article.title}}</a>
                            </h3>
                            {{article.intro|safe}}
                            {% if LANGUAGE_CODE == 'en' %}
                                <a class="btn btn-primary" href="{{article.get_absolute_url}}">View Detail</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{article.get_absolute_url}}">Ver detalles</a>
                            {% endif %}
                        </div>
                    </article>
                </div>
            </li>
            {% endif %}
        {% empty %}
            <li>
                <div class="alert alert-warning" role="alert">
                    <strong>No hay articulos.</strong> A&uacute;n no se han publicado articulos para esta categoria.
                </div>
            </li>
        {% endfor  %}
        </ul>
    </div>
</div>
{% endblock app_content  %}
