//Debug Wireframes 
//Variables
@wi-rojo     : #FF0000 ;
@wi-verde    : #00FF00 ;
@wi-azul     : #0000FF ;
@wi-amarillo : #FFFF00 ;
@wi-negro    : #000000 ;
@wi-violeta  : #CF4AD4 ;
@wi-aumento  : #111    ;
@wi-aumento2  : #0b0b0b ;
//Mixings
.wirerojo    (@n){ outline:1px dotted (@wi-rojo + (@wi-aumento * @n)); }
.wireverde   (@n){ outline:1px dotted (@wi-verde + (@wi-aumento * @n)); }
.wireazul    (@n){ outline:1px dotted (@wi-azul + (@wi-aumento * @n)); }
.wireamarillo(@n){ outline:1px dotted (@wi-amarillo + (@wi-aumento * @n)); }
.wirenegro   (@n){ outline:1px dotted (@wi-negro + (@wi-aumento2 * @n)); }
.wirevioleta (@n){ outline:1px dotted (@wi-violeta + (@wi-aumento * @n)); }
//Uso
.wireframe1{ .wirerojo(1);}
.wireframe2{ .wirerojo(2);}
.wireframe3{ .wirerojo(3);}

.wireframe4{ .wireverde(1);}
.wireframe5{ .wireverde(2);}
.wireframe6{ .wireverde(3);}

.wireframe7{ .wireazul(1);}
.wireframe8{ .wireazul(2);}
.wireframe9{ .wireazul(3);}

.wireframe10{ .wireamarillo(1);}
.wireframe11{ .wireamarillo(2);}
.wireframe12{ .wireamarillo(3);}

.wireframe13{ .wirenegro(1);}
.wireframe14{ .wirenegro(2);}
.wireframe15{ .wirenegro(3);}

.wireframe16{ .wirevioleta(1);}
.wireframe17{ .wirevioleta(2);}
.wireframe18{ .wirevioleta(3);}

