//DOM
.ul-reset(){
	padding: 0;
	margin: 0;
	list-style-type: none;
}
//GRADIENT CSS3
.gradient(){
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #cacaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#cacaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#cacaca 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#cacaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */
}
//ALTERNATIVE BUTTONS
//-ibtn
.ibtn(@color, @colorTexto){
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	border-radius: 4px;
	color: @color;
	border: 1px solid @color;
	background: transparent;
	transition:all linear 0.5s;
	&:hover{
		background: @color;
		color: @colorTexto;
		text-decoration: none;
	}
}