//XS
@media (max-width: @screen-xs-max) {
    body#general{
    	#header{
    		position: relative;
    		.gradient();
    		.logo{
    			img{
    				margin: 0 auto;
    			}
    		}
    	}
    }
    #cuerpo{
		.destacados{
			margin: auto;
			.item{
				border-left: 0;
				border-bottom: 1px solid lighten(@negro, 80%);
				&:first-child{
					border-bottom: 1px solid lighten(@negro, 80%);
				}
				&:last-child{
					border:none;
				}
			}
		}
    } 
    #footer{
    	background-position: bottom;
    	background-image: none;
    	.copy{
    		line-height: 20px;
    		text-align: center;
    		padding: 15px;
    	}
    	.empresa{
    		border-bottom: 1px solid fade(@blanco, 25%);
    		padding: 15px;
    	}
    	.contacto{
    		border-bottom: 1px solid fade(@blanco, 25%);
    		padding: 15px;
    	}
    	.formulario{
    		border-bottom: 1px solid fade(@blanco, 25%);
    		padding: 15px;
    	}
    }
    #botonMovil{
    	display: block;
    	position: absolute;
    	top: 30%;
    	color: @azul;
    	font-size: 20px;
    	left: 5px;
    	z-index: 10;
    }
 }
 //SM
 @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
 	#header{
 		.sitio{
			ul{
				line-height: 42px!important;
				li{
					font-size: 13px!important;
					margin: 1px!important;
				}
			}
 		}
 	}
 	#cuerpo{
 		.destacados{
 			margin: 0;
 		}
 	}
	#footer{
		background-image: none;
		.copy{
			line-height: 20px;
		}
	}
}
 //MD
 @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	#header{
		.sitio{
			ul{
				line-height: 60px!important;
				li{
					font-size: 15px!important;
				}
			}
		}
	}
	#footer{
		.copy{
			line-height: 20px;
		}
	}
}
 //LG
 @media (min-width: @screen-lg-min) {
	#botonMovil{
		display: none;
	}
}