//Browser settings
::-webkit-scrollbar {
    width: 10px;
    background:rgb(168, 168, 168);
}
 
::-webkit-scrollbar-track {
    background:rgb(168, 168, 168); 
}
 
::-webkit-scrollbar-thumb {
    background:rgb(82, 82, 82);
}
::selection {
	background: @azul; 
	color: @blanco;
	}
::-moz-selection {
	background: @azul;
	color: @blanco;
}
//General Styles
body{
	font-family: 'Roboto', sans-serif;
	&.inicio{
		.tp-loader{
			display:none!important;
		}
	}
}
a{
	text-decoration: none;
	&:hover{
		text-decoration:none!important;
	}
}
//preloader
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
    width:100%;
    height:100%;
	background-color:#fff; 
    z-index:9999; /* makes sure it stays on top */
	#status {
		width:200px;
		height:200px;
		position:absolute;
		left:50%; /* centers the loading animation horizontally one the screen */
		top:50%; /* centers the loading animation vertically one the screen */
		background-color:@blanco;
		background-repeat:no-repeat;
		background-position:center;
		margin:-100px 0 0 -100px; /* is width and height divided by two */
		background-image: url('@{path}/site/AjaxLoader.gif');
		z-index: 999999;
		/* Loading animation: */

		// .spinner {
		//   margin: 100px auto 0;
		//   width: 70px;
		//   text-align: center;
		// }

		// .spinner > div {
		//   width: 18px;
		//   height: 18px;
		//   border-radius: 100%;
		//   display: inline-block;
		// }
	}
}
//Pagina de Inicio
#general{
	#header{
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		position: absolute;
		z-index: 100;
		nav{
			ul{
				.ul-reset();
			}
			&.idiomas{
				ul{
					float: right;
					li{
						display: inline-block;
						padding: 10px;
						color: @blanco;
						img{
							margin-right: 5px; 
						}
						a{
							color: @blanco;
							text-decoration: none;
							text-transform: uppercase;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
			&.sitio{
				.gradient();
				.logo{
					display: block;
					width: 100%;	
				}
				ul{
					float: right;
					line-height: 80px;
					> li{
						display: inline-block;
						font-size: 17px;
						margin: 0 5px;
						> a{
							color: @azulObscuro;
							text-decoration: none;
							text-transform: uppercase;
						}
						&:hover{
							border-bottom: 3px solid @azul;
							a{
								color: @azul;
							}
						}
						&.selected{
							border-bottom: 3px solid @azul;
							a{
								color: @azul;
							}
						}
						&:hover{
							> ul.submenu{
								display: block;
							}
						}

					}
				}
				ul.submenu{
					display: none;
					position: absolute;
					z-index: 10;
					padding: 10px 20px;
					background: #cacaca;
					border-top: 3px solid @azul;
					padding: 10px;
					-webkit-border-bottom-right-radius: 4px;
					-webkit-border-bottom-left-radius: 4px;
					-moz-border-radius-bottomright: 4px;
					-moz-border-radius-bottomleft: 4px;
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
					li{
						display: block;
						width: 100%;
						border-bottom: 1px dashed lighten(@negro, 50%);
						line-height: 34px;
						font-size: 16px;
						margin: 0px;
						a{
							i{
								margin-right: 5px;
							}
							color: @azulObscuro;
							&:hover{
								color: @azul;
							}
						}
						&:last-child{
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}
//Clases de Secciones
body{
	//-- Empresa
	&.empresa{
		.principios{
			.item{
				h3{
					color: @azul;
					i{
						margin-right: 10px;
					}
				}
			}
		}
		.galeria{
			.head{
				border-bottom: 1px solid lighten(@negro, 85%);
				h3{
					color: @azul;
					i{
						margin-right: 10px;
					}
				}
			}
			#container-empresa{
				display: inline-block;
				float: left;
				width: 100%!important;
				margin-bottom:30px;
				.item{
					.ImageWrapper{
						img{
							width: 100%;
						}
					}
					&.w1{ width: 48%; padding: 4px;}
					&.w2{ width: 24%; padding: 4px;}
						.ImageWrapper .ImageOverlayH {
					        background: none repeat scroll 0 0 fade(@azul, 50%);
					        bottom: 0;
					        display: block;
					        height: 100%;
					        left: 0;
					        opacity: 0;
					        position: absolute;
					        right: 0;
					        top: 0;
					        transition: all 0.2s ease 0s;
					        width: 100%;
					    }
					    .ImageWrapper:hover .ImageOverlayH {
					        opacity: 1;
					    }

					    .ImageWrapper .StyleH {
					        visibility: hidden;
					        margin: 0;
					        opacity: 0;
					        position: absolute;
					        text-align: center;
					        width: 100%;
					        top: 50%;
					        margin-top: -20px;
					        a{
					        	color: @blanco;
					        	.ibtn(@color: @blanco, @colorTexto:@azul);
					        	i{
					        		margin-right: 5px;
					        	}
					        }
					    }
					    .ImageWrapper:hover .StyleH {
					        opacity: 1;
					        visibility: visible;
					    }
				}
			}
		}
	}
	//--Industrias
	&.industrias{
		.destacados{
			margin-bottom:40px;
			&.linea-a{
				margin-top:0!important;
					.item{
					padding-bottom:0;
					border:0;
					.contenido{
						.descrip{
							
						}
					}
				}
			}
		}
	}
	//--Productos
	&.productos{
		
	}
	//--Servicios
	&.servicios{
		.servicios-group{
			.item-servicio{
				margin: 15px 0;
			}
		}
	}
	&.servicio-post{
		
	}
	&.articulos-page{
		.articulo-group{
			.item-articulo{
				margin: 15px 0;
			}
		}
		.wrap-pagination{

		}
	}
	&.articulo-post{
		
	}
	//--Contacto
	&.contacto{
		.elementosContacto{
			h3{
				color: @azul;
				border-bottom: 1px solid lighten(@negro, 80%);
				padding-bottom: 10px;
				i{
					margin-right: 10px;
				}
			}
			.formulario{

			}
			.mapa{
				iframe{
					width: 100%!important;
				}
			}
			.datos{
				margin: 20px  0;
				dl{
					dt{
						color: @azul;
					}
					dd{
						padding-left: 15px;
					}
				}
			}
			.correos{
				margin: 20px  0;
				.card{
					background: lighten(@negro, 95%);
					border: 1px solid lighten(@negro, 80%);
					color:@azul;
					display: block;
					float: left;
					width: 60%;
					margin-left: 20%;
					> div{
						display: inline-block;
						float: left;
						text-align: center;
					}
					.icono{
						font-size: 50px;
						width: 30%;
						i{
							line-height: 90px;
						}
					}
					.datos{
						width: 70%;
					}
				}
				
			}
		}
	}
	//--Vista-categoria
	&.vista-categoria, .maqInterno{
		.wrapper-thum{
			.head{
				h2{
					color: @azul;
					border-bottom: 1px solid lighten(@negro, 90%);
					font-size: 22px;
					font-weight: 300;
				}
			}
			.thumbnail{
				.caption{
					h3{
						margin: 10px 0;
						line-height: 16px;
						font-size: 20px;
						font-weight: 100;
						a{
							color: lighten(@negro, 40%);
							text-decoration: none;
							font-size: 16px;
							&:hover{
								color: @azul;
								text-decoration:none;
							}
						}
					}
					img{
						margin-bottom: 10px;
					}
					a{

					}
				}
			}
		}
	}
	//--Vista-producto
	&.vista-producto{
		.wrap-prod{
			.info-producto{
				.cont-imagen{
					text-align:center;
					img{
						border: 1px solid lighten(@negro, 90%);
						display: block;
						margin: 0 auto;
					}
				}
				.cont-info{
					.table-responsive{
						h2{
							color:@azul;
							font-size:22px;
							padding: 15px 0;
						}
						table{
							
						}
					}
				}
			}
			.datos-contacto{
				border-top: 1px solid lighten(@negro, 90%);
				border-bottom: 1px solid lighten(@negro, 90%);
				margin: 30px 0;
				padding: 30px 0;
				.boton{
					padding-top:32px;
				}
				.datos{
					dl{
						margin: 0;
						dt{
							color: @azul;
						}
						dd{
							padding-left: 15px;
						}
					}
				}
				.mapa{
					
				}
			}
		}
	}
}
//Cuerpo
#cuerpo{
	background-image: url('@{path}/site/gradient.jpg');
	background-repeat: repeat-x;
	.destacados{
		margin: -80px 0 60px 0;
		position: relative;
		z-index: 100;
		.item{
			//FIX
			min-height: 208px;
			background: @blanco;
			border-left: 1px solid lighten(@negro, 80%);
			padding-bottom: 20px;
			&:first-child{
				border: 0;
			}
			h3{
				a{
					color: @azul;
					font-size: 22px;
					text-decoration: none;
					&:hover{
						color: darken(@azul, 25%);
					}
				}
			}
			.contenido{
				.icono{
					width: 35%;
					display: inline-block;
					float: left;
					text-align: center;
				}
				.descrip{
					display: inline-block;
					float: right;
					&.des-tuberia{ width: 65%;}
					&.des-mecanica{ width: 65%;}
					&.des-estampado{ width: 65%;}
					&.des-necesitas{ width: 65%;}
				}
			}
		}
	}
	.widget_necesitas{
		position: relative;
		margin-bottom:60px;
		.info{
			padding: 40px;
			position: absolute;
			width: 100%;
			z-index: 2;
			text-align: center;
			h3{
				color: #FFF;
				font-size: 40px;
				text-shadow: 0px 1px 0 #000;
			}
			p{
				color: #FFF;
				font-size: 20px;
				text-shadow: 0px 1px 0 #000;
			}
			a{
				.ibtn(@color: @blanco, @colorTexto:@azul);
				&:hover{
					text-decoration: none;
				}
			}
		}
		.imagen{

		}
	}
	.articulos{
		margin: 40px 0;
		position: relative;
		.leyenda{
			p{
				border-bottom: 2px solid lighten(@negro, 80%);
				font-size: 24px;
				text-transform: uppercase;
				color: lighten(@negro, 20%);
			}
		}
		.carousel{	
			#owl-demo{
				.item{
			  		margin: 3px;
			  		.imagen{
			  			.ImageWrapper .ImageOverlayH {
			  			        background: none repeat scroll 0 0 fade(@azul, 50%);
			  			        bottom: 0;
			  			        display: block;
			  			        height: 100%;
			  			        left: 0;
			  			        opacity: 0;
			  			        position: absolute;
			  			        right: 0;
			  			        top: 0;
			  			        transition: all 0.2s ease 0s;
			  			        width: 100%;
			  			    }
			  			    .ImageWrapper:hover .ImageOverlayH {
			  			        opacity: 1;
			  			    }

			  			    .ImageWrapper .StyleH {
			  			        visibility: hidden;
			  			        margin: 0;
			  			        opacity: 0;
			  			        position: absolute;
			  			        text-align: center;
			  			        width: 100%;
			  			        top: 50%;
			  			        margin-top: -20px;
			  			        a{
			  			        	color: @blanco;
			  			        	.ibtn(@color: @blanco, @colorTexto:@azul);
			  			        	i{
			  			        		margin-right: 5px;
			  			        	}
			  			        }
			  			    }
			  			    .ImageWrapper:hover .StyleH {
			  			        opacity: 1;
			  			        visibility: visible;
			  			    }
			  		}
			  		.desc{
			  			.titulo{
			  				margin-bottom: 0;
			  			}
			  		}
				}
				.owl-buttons{
					position: absolute;
					left: -100px;
					top: 50%;
				}
			}
		}
	}
	.videosHome{
		margin-bottom: 40px;
		.leyenda{
			p{
				border-bottom: 2px solid lighten(@negro, 80%);
				font-size: 24px;
				text-transform: uppercase;
				color: lighten(@negro, 20%);
			}
		}
		.videosWrapper{
			.item-a{
			  		margin: 3px;
			  		.imagen{
			  			.ImageWrapper .ImageOverlayH {
			  			        background: none repeat scroll 0 0 fade(@negro, 50%);
			  			        bottom: 0;
			  			        display: block;
			  			        height: 100%;
			  			        left: 0;
			  			        opacity: 0;
			  			        position: absolute;
			  			        right: 0;
			  			        top: 0;
			  			        transition: all 0.2s ease 0s;
			  			        width: 100%;
			  			    }
			  			    .ImageWrapper:hover .ImageOverlayH {
			  			        opacity: 1;
			  			    }

			  			    .ImageWrapper .StyleH {
			  			        visibility: hidden;
			  			        margin: 0;
			  			        opacity: 0;
			  			        position: absolute;
			  			        text-align: center;
			  			        width: 100%;
			  			        top: 50%;
			  			        margin-top: -20px;
			  			        a{
			  			        	color: @rojo;
									display: inline-block;
									font-size: 50px;
									line-height: 0;
			  			        }
			  			    }
			  			    .ImageWrapper:hover .StyleH {
			  			        opacity: 1;
			  			        visibility: visible;
			  			    }
			  		}
			  		.desc{
			  			.titulo{
			  				margin-bottom: 0;
			  			}
			  		}
			}
			.item-b{
			  		margin: 3px;
			  		float: left;
			  		width: 100%;
			  		.imagen{
			  			float: left;
			  			width: 40%;
			  			display: inline-block;
			  			.ImageWrapper .ImageOverlayH {
			  			        background: none repeat scroll 0 0 fade(@negro, 50%);
			  			        bottom: 0;
			  			        display: block;
			  			        height: 100%;
			  			        left: 0;
			  			        opacity: 0;
			  			        position: absolute;
			  			        right: 0;
			  			        top: 0;
			  			        transition: all 0.2s ease 0s;
			  			        width: 100%;
			  			    }
			  			    .ImageWrapper:hover .ImageOverlayH {
			  			        opacity: 1;
			  			    }

			  			    .ImageWrapper .StyleH {
			  			        visibility: hidden;
			  			        margin: 0;
			  			        opacity: 0;
			  			        position: absolute;
			  			        text-align: center;
			  			        width: 100%;
			  			        top: 50%;
			  			        margin-top: -20px;
			  			        a{
			  			        	color: @rojo;
									display: inline-block;
									font-size: 50px;
									line-height: 0;
			  			        }
			  			    }
			  			    .ImageWrapper:hover .StyleH {
			  			        opacity: 1;
			  			        visibility: visible;
			  			    }
			  		}
			  		.desc{
			  			float: left;
			  			width: 60%;
			  			display: inline-block;
			  			padding-left: 10px;
			  			.titulo{
			  				margin-bottom: 0;
			  			}
			  		}
			}
		}
	}
	//Internos
	&.maqInterno{
		> .container{
			.wrapperInterno{
				background: @blanco;
			}
		}
		.bread{
			.breadcrumb{
				margin: -36px 0 10px 0;
				position: relative;
				z-index: 70;
				border-radius: 0;
			}
		}
		.textoSEO{
			h1{
				color: @azul;
				font-size: 24px;
			}
		}

	}
}
#footer{
	background: @azulCorpo;
	background-image: url('@{path}/site/angel-2.jpg');
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	> .container{
		padding: 26px 0;
	}
	h4{
		text-transform: uppercase;
		color: @blanco;
		font-size: 16px;
	}
	.empresa{
		img{
			border: 1px solid @blanco;
			padding: 5px;
			border-radius: 6px;
			margin: 20px 0;
		}
		p{
			color: @blanco;
			a{
				color: @blanco;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	.contacto{
		img{
			border-radius: 6px;
			margin: 20px 0;
		}
		ul{
			.ul-reset();
			li{
				color: @blanco;
				i{
					margin-right: 5px;
					display: inline-block;
					width: 20px;
					text-align: center;
				}
			}
		}
	}
	.formulario{
		form{
			input[type="text"], input[type="email"], textarea{
				background: fade(@negro, 25%);
				border:0;
				color:@blanco;
				&:focus{
					box-shadow:none;
					border: 1px solid #005AFF;
				}
			}
			input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
				color:@blanco;
			}
			input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, textarea::-moz-placeholder{
				color:@blanco;
			}
		}
	}
	.copy{
		background: fade(@negro, 25%);
		color: @blanco;
		line-height: 40px;
		p{
			font-size: 12px;
			font-weight: 100;
			margin: 0;
			&.evo{
				text-align: right;
			}
			a{
				color: @blanco;
				&.evolutiva{
					color: @evo;
				}
			}
		}
	}
}
