{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}SUMICORP - {% page_attribute 'title' %}{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block body_tag %}
<body id="general" class="contacto">
{% endblock body_tag %}

{% block content %}
<!-- Silder -->
<section class="fullwidthbanner-container-320">
    {% placeholder 'slider' %}
</section>	
<!-- /Silder -->

<!-- Contenido -->
<section id="cuerpo" class="maqInterno wireframe1">
    <div class="container wireframe2">
        <div class="wrapperInterno col-lg-12">
            <div class="row">
                
                {% block content_breadcrumb %}
                <div class="bread">
                    <ol class="breadcrumb">
                      <li><a href="/"><i class="fa fa-home"></i>{% if LANGUAGE_CODE == 'es' %}Inicio{% else %}Main{% endif %}</a></li>
                      <li class="active">{% page_attribute 'title' %}</li>
                    </ol>
                </div>
                {% endblock content_breadcrumb %}

                {% block content_texto_seo %}
                <div class="textoSEO col-lg-12">
                    {% placeholder 'articulo-texto-seo' %}
                </div>
                {% endblock content_texto_seo %}

                <div class="elementosContacto col-lg-12">
                    <div class="row">
                        <div class="formulario col-lg-6">
                            <h3>{% placeholder 'contacto-dejanosmensaje-text' %}</h3>
                            {% block app_content %}
                            {% endblock app_content %}
                        </div>
                        <div class="mapa col-lg-6">
                            <h3>{% placeholder 'contacto-ubicacion-text' %}</h3>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3762.6851988346357!2d-99.168047!3d19.426002999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff474eeb1ff9%3A0xcf48bdb0b006e00d!2sSUMICORP+DE+MEXICO+S.A+DE+C.V!5e0!3m2!1ses-419!2smx!4v1411113272138" height="250" frameborder="0" style="border:0"></iframe>
                            <br>
                            <div class="datos">
                                {% placeholder 'contacto-contacto-text' %}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="correos col-lg-6">
                            <div class="card">
                                <div class="icono">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="datos">
                                    {% placeholder 'contacto-emails-text' %}
                                </div>
                            </div>
                        </div>
                        <div class="datos col-lg-6">
                            
                        </div>
                    </div> -->
    
                </div>
                
                {% placeholder 'articles_ca' %}

            </div>
        </div>
    </div>
</section>

<!-- /Contenido -->
{% endblock content %}

{% block custom_js %}
{% endblock custom_js %}