{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}SUMICORP - {% page_attribute 'title' %}{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block body_tag %}
<body class="empresa" id="general">
{% endblock body_tag %}

{% block content %}
<!-- Silder -->
<section class="fullwidthbanner-container-320">
    {% placeholder 'slider' %}
</section>	
<!-- /Silder -->

<!-- Contenido -->
<section id="cuerpo" class="maqInterno wireframe1">
    <div class="container wireframe2">
        <div class="wrapperInterno col-lg-12">
            <div class="row">
                    
                <div class="bread">
                    <ol class="breadcrumb">
                      <li><a href="/"><i class="fa fa-home"></i>{% if LANGUAGE_CODE == 'es' %}Inicio{% else %}Main{% endif %}</a></li>
                      <li class="active">{% page_attribute 'title' %}</li>
                    </ol>
                </div>

                <div class="textoSEO col-lg-12">
                    <h1>{% placeholder empresa_company %}</h1>
                    {% placeholder empresa_company_content %}
                </div>

                <div class="col-lg-12 principios">
                    <div class="row">
                        <div class="item col-lg-4 col-md-4 col-sm-4">
                            {% placeholder empresa_mision %}
                        </div>
                        <div class="item col-lg-4 col-md-4 col-sm-4">
                            {% placeholder empresa_vision %}
                        </div>
                        <div class="item col-lg-4 col-md-4 col-sm-4">
                            {% placeholder empresa_values %}
                        </div>
                    </div>
                </div>

                {% placeholder 'empresa_gallery' %}
                {% placeholder 'articles_carousel' %}
            </div>
        </div>
    </div>
</section>
<!-- /Contenido -->
{% endblock content %}

{% block custom_js %}
{% endblock custom_js %}