{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}SUMICORP - {% page_attribute 'title' %}{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block body_tag %}
<body class="inicio" id="general">
{% endblock body_tag %}

{% block content %}
<!-- Silder -->
<section class="fullwidthbanner-container-inicio">
	{% placeholder 'slider' %}
</section>
<!-- /Silder -->

<!-- Contenido -->
<section id="cuerpo" class="wireframe1">
    <div class="container wireframe2">

        {% placeholder 'destacados_widget' %}
        
        <div class="widget_necesitas col-lg-12">
            <div class="row">
                <div class="info">
                   {% placeholder 'inicio_quenecesitas_texto' %}
                </div>
                <div class="col-lg-12 imagen">
                   <p>
                       {% placeholder 'inicio_quenecesitas_imagen' %}
                   </p>
                </div>
            </div>
        </div>

        {% placeholder 'articles_carousel' %}
	</div>
</section>
<!-- /Contenido -->
{% endblock content %}

{% block custom_js %}
<script>
    $(document).ready(function(){
        $('.plugin_picture img').attr('class', 'img-responsive')
    })
</script>
{% endblock custom_js %}