{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}SUMICORP - {% page_attribute 'title' %}{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block body_tag %}
<body id="general" class="vista-categoria">
{% endblock body_tag %}

{% block content %}
<!-- Silder -->
<section class="fullwidthbanner-container-500">
    {% placeholder 'slider' %}
</section>	
<!-- /Silder -->

<!-- Contenido -->
<section id="cuerpo" class="maqInterno wireframe1">
    <div class="container wireframe2">
        <div class="wrapperInterno col-lg-12">
            <div class="row">
                
                {% block content_breadcrumb %}
                <div class="bread">
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i>{% if LANGUAGE_CODE == 'es' %}Inicio{% else %}Main{% endif %}</a></li>
                        <li><a href="{% page_url request.current_page.parent %}"> {% if LANGUAGE_CODE == 'es' %}Productos{% else %}Products{% endif %}</a></li>
                        <li class="active">{% page_attribute 'title' %}</li>
                    </ol>
                </div>
                {% endblock content_breadcrumb %}

                {% block content_texto_seo %}
                <div class="textoSEO col-lg-12">
                    {% placeholder 'articulo-texto-seo' %}
                </div>
                {% endblock content_texto_seo %}
                <br>
                {% placeholder productos_plugin %}
            </div>
        </div>
    </div>
</section>

<!-- /Contenido -->
{% endblock content %}

{% block custom_js %}
<script>
$(document).ready(function(){
    $('#slidercontainerplugin').attr('class', 'fullwidthabnner-500 tp-simpleresponsive')
})
</script>
{% endblock custom_js %}