{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}SUMICORP - {% page_attribute 'title' %}{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block body_tag %}
<body class="" id="general">
{% endblock body_tag %}

{% block content %}
<!-- Silder -->
<section class="fullwidthbanner-container-500">
    {% placeholder 'slider' %}
</section>	
<!-- /Silder -->

<!-- Contenido -->
<section id="cuerpo" class="maqInterno wireframe1">
    <div class="container wireframe2">
        <div class="wrapperInterno col-lg-12">
            <div class="row">
                    
                <div class="bread">
                    <ol class="breadcrumb">
                      <li><a href="/"><i class="fa fa-home"></i>{% if LANGUAGE_CODE == 'es' %}Inicio{% else %}Main{% endif %}</a></li>
                      <li class="active">{% page_attribute 'title' %}</li>
                    </ol>
                </div>

                <div class="textoSEO col-lg-12">
                    {% placeholder 'que_necesitas_content' %}
                </div>

            </div>
            <div class="row">
                {% placeholder 'articles_carousel' %}
            </div>
        </div>
    </div>
</section>
<!-- /Contenido -->
{% endblock content %}

{% block custom_js %}
<script>
$(document).ready(function(){
    $('#slidercontainerplugin').attr('class', 'fullwidthabnner-500 tp-simpleresponsive')
})
</script>
{% endblock custom_js %}