{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}
{% get_current_language as LANGUAGE_CODE %}

<div class="videosHome col-lg-12">
    <div class="row">
        <div class="leyenda col-lg-3 col-md-3 col-sm-3">
            {% if LANGUAGE_CODE == 'es' %}
                <p>Videos <br> informativos </p>
            {% else %}
                <p>Informative <br> videos </p>
            {% endif %}
        </div>
        <div class="videosWrapper col-lg-9 col-md-9 col-sm-9">
            <div class="row">
                {% for video in videos %}
                <div class="col-lg-6 col-md-6 col-sm-6 wireframe5">
                    {% if forloop.first %} <div class="item-a"> {% else %} <div class="item-b"> {% endif %}
                    
                        <div class="imagen">
                            <div class="ImageWrapper">
                                <img class="img-responsive" src="{{ video.image.url }}" alt="">
                                <div class="ImageOverlayH"></div>
                                <div class="Buttons StyleH">

                                    <a href="{{ video.videofile.url }}" data-fancybox-type="swf" class="various"><i class="fa fa-youtube-play"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="desc">
                            <h4 class="titulo">{{ video.title }}</h4>
                                {{ video.description|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>