{% load cms_tags menu_tags sekizai_tags staticfiles i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block meta_title %}{% if request.current_page.get_title_obj.seometadataextension %}{{request.current_page.get_title_obj.seometadataextension.title}}{% else %}SUMICORP DE MEXICO{% endif %}{% endblock meta_title %}</title>
        <meta name="description" content="{% block meta_description %}{% if request.current_page.get_title_obj.seometadataextension %}{{request.current_page.get_title_obj.seometadataextension.description}}{% else %}TUBERÍA MECANICA{% endif %}{% endblock meta_description %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="6Y1uxxbtakSvnCOO00SsZy8Hb-YH7kgkMzvfXaHbdZw" />

        {% block url_canonical %}
        <!-- Canonical -->
        {% if request.current_page.get_title_obj.metacanonicalextension and request.current_page.get_title_obj.metacanonicalextension.enabled %}
        <link rel="canonical" href="{{request.current_page.get_title_obj.metacanonicalextension.url}}" />
        {% else %}
        {# generate canonicalurl auto #}
        <link rel="canonical" href="{{SITE_PROTOCOL_URL}}{{request.get_full_path}}">
        {% endif %}
        <!-- /Canonical -->
        {% endblock url_canonical %}

        {% block metadata_open_graph %}
        {% if request.current_page.get_title_obj.seometadataextension and request.current_page.get_title_obj.seometadataextension.og_enabled %}
        <!-- Open Graph Meta Tags -->
        <meta property="og:title"   content="{{ request.current_page.get_title_obj.seometadataextension.title }}" />
        <meta property="og:description" content="{{ request.current_page.get_title_obj.seometadataextension.description }}" />
        {% if request.current_page.get_title_obj.seometadataextension.url == '' %}
        <meta property="og:url"     content="{{SITE_PROTOCOL_URL}}{{service.get_absolute_url}}" />
        {% else %}
        <meta property="og:url"     content="{{ request.current_page.get_title_obj.seometadataextension.url }}" />
        {% endif %}
        <meta property="og:type"    content="{{ request.current_page.get_title_obj.seometadataextension.og_type }}" />
        <meta property="og:image"   content="{{ request.current_page.get_title_obj.seometadataextension.og_imageurl }}" />
        <meta property="fb:admins"  content="{{ request.current_page.get_title_obj.seometadataextension.fb_admins }}"/>
        <!-- /Open Graph Meta Tags -->
        {% endif %}
        {% endblock metadata_open_graph%}

        {% block metadata_twitter_card %}
        {% if request.current_page.get_title_obj.seometadataextension and request.current_page.get_title_obj.seometadataextension.twc_enabled %}
        <!-- Twitter cards -->
        <meta name="twitter:title" content="{{request.current_page.get_title_obj.seometadataextension.title}}">
        <meta name="twitter:description" content="{{request.current_page.get_title_obj.seometadataextension.description}}">
        <meta name="twitter:image:src" content="{{request.current_page.get_title_obj.seometadataextension.twc_imageurl}}">
        <meta name="twitter:card" content="{{request.current_page.get_title_obj.seometadataextension.twc_card}}">
        <meta name="twitter:site" content="{{request.current_page.get_title_obj.seometadataextension.twc_site}}">
        <meta name="twitter:creator" content="{{request.current_page.get_title_obj.seometadataextension.twc_creator}}">
        <!-- /Twitter cards -->
        {% endif %}
        {% endblock metadata_twitter_card %}

        {% block metadata_dublin_core %}
        {% if request.current_page.get_title_obj.seometadataextension and request.current_page.get_title_obj.seometadataextension.dcm_enabled %}
         <!-- Dublin Core Metadata -->
        <meta name="dc.title" content="{{request.current_page.get_title_obj.seometadataextension.title}}">
        <meta name="dc.description" content="{{request.current_page.get_title_obj.seometadataextension.description}}">
        <meta name="dc.subject" content="{{request.current_page.get_title_obj.seometadataextension.dcm_subject}}">
        <meta name="dc.keywords" content="{{request.current_page.get_title_obj.seometadataextension.dcm_keywords}}">
        <meta name="dc.language" content="{{request.current_page.get_title_obj.seometadataextension.dcm_language}}">
        <meta name="dc.source" content="{{request.current_page.get_title_obj.seometadataextension.dcm_source}}">
        <!-- /Dublin Core Metadata -->
        {% endif %}
        {% endblock metadata_dublin_core %}

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/png" href="{% static "site/images/site/favicon.png" %}">

    <!-- Basic Styles -->
    {% render_block "css" %}
    <link rel="stylesheet" media="all" href="{% static "site/css/site.min.css" %}" >
    <link rel="stylesheet" media="all" href="{% static "site/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" media="all" href="{% static "site/css/font-awesome.min.css" %}" >
    <link rel="stylesheet" media="all" href="{% static "site/css/animate.min.css" %}" >
    <link rel="stylesheet" media="all" href="{% static "site/css/jquery.fancybox.css" %}"/ >
    <link rel="stylesheet" media="all" href="{% static "site/css/jquery.mmenu.all.css" %}"/ >
    
    {% block custom_css %}
    {% endblock custom_css %}

    <!-- Hack -->
    <script src="{% static "site/js/libs/modernizr-2.6.2.min.js" %}"></script>
    <script src="{% static "site/js/libs/respond.js" %}"></script>

</head>
{% block body_tag %}
<body id="general">
{% endblock body_tag %}

<!-- GTM -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W73NV8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W73NV8');</script>

    {% cms_toolbar %}
    <div class="wrapperSite">

        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>

        <header id="header" class="wireframe1">
            <a id="botonMovil" href="#sitio"><i class="fa fa-bars"></i></a>
            <div class="container wireframe2">
                <div id="idiomas" class="col-lg-12">

                    <nav class="row idiomas hidden-xs">
                        <ul>
                            <li><img src="{% static "site/images/site/mx.png" %}" alt=""><a href="{% page_language_url "es" %}">español</a></li>
                            <li>|</li>
                            <li><img src="{% static "site/images/site/us.png" %}" alt=""><a href="{% page_language_url "en" %}">english</a></li>
                        </ul>
                    </nav>


                    <nav  class="row sitio wireframe3" id="navegacion-superior">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            {% if LANGUAGE_CODE == 'en' %}
                                <a class="logo" href="/en/">
                                    <img class="img-responsive" src="{% static "site/images/site/logo-sumicorp.png" %}">
                                </a>
                            {% else %}
                                <a class="logo" href="/">
                                    <img class="img-responsive" src="{% static "site/images/site/logo-sumicorp.png" %}">
                                </a>
                            {% endif %}
                        </div>

                        <div  id="sitio" class="col-lg-8 col-md-8 col-sm-8 ">
                            <ul>
                                {% show_menu 0 100 100 100 %}
                            </ul>
                        </div>

                    </nav>

                </div>
            </div>
        </header>  

        {% block content %}
        {% endblock content %}

        <footer id="footer" class="wireframe1">
            <div class="container wireframe2">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row">
                                <div class="empresa col-lg-offset-6 col-lg-6 col-md-offset-6">
                                    <h4>{% static_placeholder "footer_title_company" %}</h4>
                                    <img class="img-responsive" src="{% static "site/images/site/logo-sumicorp-blanco.jpg" %}" alt="">
                                    {% static_placeholder "footer_main" %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="row">
                                <div class="contacto col-lg-6 col-md-6 col-sm-6">
                                    <h4>{% static_placeholder "footer_get_in_touch" %}</h4>
                                    {% if LANGUAGE_CODE == 'en' %}
                                        <a href="/en/contact"><img class="img-responsive" src="{% static "site/images/site/mapa-mini.jpg" %}" alt=""></a>
                                    {% else %}
                                        <a href="/es/contacto"><img class="img-responsive" src="{% static "site/images/site/mapa-mini.jpg" %}" alt=""></a>
                                    {% endif %}
                                    {% static_placeholder "footer_contact" %}
                                </div>
                                <div class="formulario col-lg-6 col-md-6 col-sm-6">
                                    <h4>{% static_placeholder "footer_fast_contact" %}</h4>
                                    {% static_placeholder "footer_contact_plugin" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy">
                <div class="container">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        {% if LANGUAGE_CODE == 'en' %}
                            <p>Copyright © Sumicorp de México, S.A. de C.V. | All Rights Reserved {% now "Y" %} | <a href="/en/privacy-notice/">Privacy Notice</a></p>
                        {% else %}
                            <p>Copyright © Sumicorp de México, S.A. de C.V. | Derechos Reservados {% now "Y" %} | <a href="/es/aviso-de-privacidad/">Aviso de privacidad</a></p>
                        {% endif %}
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        {% if LANGUAGE_CODE == 'en' %}
                            <p class="evo">Optimized por <a style="color:#cf352f; font-weight:600;" target="blank" href="http://evolutiva.mx">evolutiva.mx</a></p>
                        {% else %}
                            <p class="evo">Optimizado por <a style="color:#cf352f; font-weight:600;" target="blank" href="http://evolutiva.mx">evolutiva.mx</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- Basic Scripts -->
    {% render_block "js" %}

    <script src="//code.jquery.com/jquery-1.8.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "site/js/libs/jquery-1.8.0.min.js" %}"><\/script>')</script>
    
    <script type="text/javascript" src="{% static "site/js/jquery.themepunch.plugins.min.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/jquery.themepunch.revolution.min.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/owl.carousel.min.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/jquery.fancybox-media.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/jquery.mmenu.min.all.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/jquery.maskedinput.min.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/extras.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "site/js/site.js" %}"></script>
    
    {% block custom_js %}
    {% endblock custom_js %}

    {% render_block "custom_js_tmp" %}

</body>
</html>
