<div class="col-lg-12 galeria">
    <div class="row">
        <div class="col-lg-12 head">
            <h3><i class="fa fa-file-image-o"></i>{% if LANGUAGE_CODE == 'es' %}Galer&iacute;a{% else %}Gallery{% endif %}</h3>
        </div>
        <div id="container-empresa" class="col-lg-12">
            {% for image in gallery.image_set.all %}
            <div class="item {{ image.width }}">
                <div class="ImageWrapper">
                    <img src="{{ image.image.url }}" alt=""> 
                    <div class="ImageOverlayH"></div>
                    <div class="Buttons StyleH">
                        <a class="gal-empresa" href="{{ image.image.url }}" class="ibtn"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

                           