{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<section class="container nombre_seccion">
    <div class="row">
        <div class="col-lg-12">
            <p><span>Blog</span></p>
        </div>
    </div>
</section>

<section class="container widget_blog_home">
    <div class="row item_blog">
        {% for article in articles%}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <figure class="item effect">
            <img src="{{article.image_widget.url}}" alt=""/>
                <figcaption>
                    <h2>{{article.title}}</h2>
                    <p>{{article.intro|striptags}}</p>
                    <a href="{{article.get_absolute_url}}">Ver m&aacute;s</a>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
</section>
