{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}

{% block body_classes %}{{ block.super }} product-detail {% endblock %}

{% block metadata_open_graph %}
<meta property="og:title" content="{% if product.meta_title != '' %}{{product.meta_title}}{% else %}{{product.title}}{% endif %}" />
<meta property="og:description" content="{% if product.meta_description != '' %}{{product.meta_description|striptags}}{% else %}{{product.intro|striptags}}{% endif %}" />
<meta property="og:type" content="product" />
<meta property="og:site_name" content="Sumicorp de México S.A. de C.V." />
<meta property="og:url" content="{{SITE_PROTOCOL_URL}}{{product.get_absolute_url}}" />
<meta property="og:image" content="{{SITE_PROTOCOL_URL}}{{product.image.url}}" />
<meta property="product:published_time" content="{{product.publish_date|date:"Y-m-d"}}">
<meta property="fb:admins" content="100008108760082"/>
{% endblock metadata_open_graph %}

{% block metadata_twitter_card %}
<meta name="twitter:title" content="{% if product.meta_title != '' %}{{product.meta_title|truncatechars:70}}{% else %}{{product.title|truncatechars:70}}{% endif %}">
<meta name="twitter:description" content="{% if product.meta_description != '' %}{{product.meta_description|striptags|truncatechars:200}}{% else %}{{product.intro|striptags|truncatechars:200}}{% endif %}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="">
<meta name="twitter:creator" content="@{{product.created_by.profile.twitter}}">
<meta name="twitter:image:src" content="{{SITE_PROTOCOL_URL}}{{product.image.url}}">
{% endblock metadata_twitter_card %}

{% block metadata_dublin_core %}
<meta name="dc.title" content="{% if product.meta_title != '' %}{{product.meta_title}}{% else %}{{product.title}}{% endif %}">
<meta name="dc.description" content="{% if product.meta_description != '' %}{{product.meta_description|striptags}}{% else %}{{product.intro|striptags}}{% endif %}">

<meta name="dc.language" content="es">
<meta name="dc.date" content="{{product.publish_date|date:"Y-m-d"}}">

<meta name="dc.subject" content="{{product.dcm_subject}}">
<meta name="dc.keywords" content="{{product.dcm_keywords}}">
<meta name="dc.source" content="{{product.dcm_source}}">
{% endblock metadata_dublin_core %}

{% block app_content %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

{% block content_texto_seo %}
{% endblock content_texto_seo %}

{% block content_breadcrumb %}
    <div class="bread">
        <ol class="breadcrumb">
            {% if LANGUAGE_CODE == 'en' %}
                <li><a href="/en/"><i class="fa fa-home"></i>Main</a></li>
            {% else %}
                <li><a href="/"><i class="fa fa-home"></i>Inicio</a></li>
            {% endif %}
            <!-- <li><a href="{% page_url request.current_page.parent %}">{% if LANGUAGE_CODE == 'es' %}Catalogo{% else %}Catalog{% endif %}</a></li> -->
            {% if LANGUAGE_CODE == 'en' %}
                <li><a href="/en/products/">Products</a></li>
            {% else %}
                <li><a href="/es/productos/">Productos</a></li>
            {% endif %}
            {% if LANGUAGE_CODE == 'en' %}
                <li><a href="{{product.family.page_link.get_absolute_url}}">{{product.family}}</a></li>
            {% else %}
                <li><a href="{{product.family.page_link.get_absolute_url}}">{{product.family}}</a></li>
            {% endif %}
            <li class="active">{{product.name}}</li>
        </ol>
    </div>
{% endblock content_breadcrumb %}

<div class="textoSEO col-lg-12">
    <h1>{{product.name}}</h1>
    {{product.description|safe}}
</div>

<div class="wrap-prod col-lg-12">
    <div class="row">
        <div class="info-producto col-lg-12">
            <div class="row">
                <div class="cont-imagen col-lg-push-2 col-lg-8 col-md-push-2 col-md-8 col-sm-push-1 col-sm-10">
                    <div id="product-slider-gallery" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% for productimage in product.galleryimage.all %}
                                <div class="item {% if forloop.first %} active {% endif %}">
                                    <img class="img-responsive" src="{{productimage.image.url}}" alt="{{productimage.image.alt}}">
                                </div>
                            {% empty %}
                                <div class="item active">
                                    <img class="img-responsive" src="{{product.image.url}}" alt="{{product.image.alt}}">
                                </div>
                            {% endfor %}
                        </div>
                        
                        {% if  product.galleryimage.all  %}
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" onclick="$('#product-slider-gallery').carousel('prev')">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" onclick="$('#product-slider-gallery').carousel('next')">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="cont-info col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        {{product.data|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="datos-contacto col-lg-12">
            <div class="row">
            	<div class="col-lg-3 boton">
            	     <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#formularioProducto"><i class="fa fa-plus"></i> {% if LANGUAGE_CODE == 'es' %}Más Información{% else %}More Info{% endif %}</button>
            	</div>
                <div class="col-lg-5 datos">
                    <dl>
                      <dt>SUMICORP DE MÉXICO, S.A. DE C.V.</dt>
                        <dd>Paseo de la Reforma 350 </dd>
                        <dd>Colonia Juárez, Delegación Cuauhtémoc México, D.F. C.P 06600</dd>
                      <dt>{% if LANGUAGE_CODE == 'es' %}Llamanos para mas información{% else %}Call us for more information{% endif %}</dt>
                        <dd>(52 55) 2631-0469</dd>
                        <dd>(52 55) 2631-0618 </dd>
                        <dd>(52 55) 2631-0666</dd>
                    </dl>
                </div>
                <div class="col-lg-4 mapa">
                    <h5><a class="various  fancybox.iframe"href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3762.6851988346357!2d-99.168047!3d19.426002999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff474eeb1ff9%3A0xcf48bdb0b006e00d!2sSUMICORP+DE+MEXICO+S.A+DE+C.V!5e0!3m2!1ses-419!2smx!4v1411113272138">{% if LANGUAGE_CODE == 'es' %}Ver Mapa{% else %}View Map{% endif %}</a></h5>
                    <p><a class="various  fancybox.iframe"href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3762.6851988346357!2d-99.168047!3d19.426002999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff474eeb1ff9%3A0xcf48bdb0b006e00d!2sSUMICORP+DE+MEXICO+S.A+DE+C.V!5e0!3m2!1ses-419!2smx!4v1411113272138"><img src="{% static "images/site/mapa-mini.jpg" %}" alt=""></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="formularioProducto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{% if LANGUAGE_CODE == 'es' %}Más informaci&oacute;n{% else %}More Info{% endif %}</h4>
      </div>
      <div class="modal-body">
        {% static_placeholder "product_contact_more_info" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submit-contact-plugin-modal-form">{% if LANGUAGE_CODE == 'es' %}Enviar{% else %}Submit{% endif %}</button>
      </div>
    </div>
  </div>
</div>
{% endblock app_content %}