{% extends CMS_TEMPLATE %}
{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}

{% block body_classes %}{{ block.super }} articles-list {% endblock %}

{% block app_content %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

{% block content_texto_seo %}
{% endblock content_texto_seo %}

<div class="wrapper-thum col-lg-12">
    <div class="row">
        <div class="head col-lg-12">
        	{% if LANGUAGE_CODE == 'es' %}
            	<h2>Catalogo</h2>
        	{% else %}
        	    <h2>Catalog</h2>
        	{% endif %}
        </div>
    </div>
    {% for product in object_list %}
        {% if forloop.counter0|divisibleby:"4" %}
            <div class="row">
        {% endif %}
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><a href="{{product.absolute_url}}">{{product.name}}</a></h3>
                    <a href="{{product.absolute_url}}"><img class="img-responsive" src="{{product.image.url}}" alt="{{product.image.alt}}"></a>
                    {% if LANGUAGE_CODE == 'es' %}
                        <p><a href="{{product.absolute_url}}" class="btn btn-primary btn-xs" role="button">Ver Producto</a></p>
                    {% else %}
                        <p><a href="{{product.absolute_url}}" class="btn btn-primary btn-xs" role="button">View Details</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.last or forloop.counter|divisibleby:"4" %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock app_content %}