{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<div class="wrapper-thum col-lg-12">
    <div class="row">
        {% for family in familys %}
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><a href="{{ family.page_link.get_absolute_url }}">{{family.name}}</a></h3>
                    <a href="{{ family.page_link.get_absolute_url }}"><img class="img-responsive" src="{{family.image.url}}" alt="..."></a>
                    {{family.info|safe}}
                    {% if LANGUAGE_CODE == 'es' %}
                        <p><a href="{{ family.page_link.get_absolute_url }}" class="btn btn-primary" role="button">Ver Producto</a></p>
                    {% else %}
                        <p><a href="{{ family.page_link.get_absolute_url }}" class="btn btn-primary" role="button">View Product</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>