{% load cms_tags sekizai_tags staticfiles thumbnail i18n  %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="destacados col-lg-12">
    <div class="row">
        <div id="owl-demo-2" class="owl-carousel">
            {% for family in familys %}
            <div class="col-lg-12 item">
                <h3><a href="{{ family.page_link.get_absolute_url }}">{{family.name}}</a></h3>
                <div class="contenido">
                    <div class="icono">
                        <img class="imageicono img-responsive" src="{{family.icon_static.url}}" alt="">
                    </div>
                    <div class="descrip des-tuberia">
                        <p>{{family.description|safe}}</p>
                        <a class="btn btn-primary btn-xs" href="{{ family.page_link.get_absolute_url }}">
                        {% if LANGUAGE_CODE == 'es' %}
                            Ver más
                        {% else %}
                            Show me
                        {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-lg-12 item">
                <h3><a href="que_necesitas.html">¿Que necesitas?</a></h3>
                <div class="contenido">
                    <div class="necesitas icono"></div>
                    <div class="descrip des-necesitas">
                        <p>Productos de Acero  que con los estándares de calidad internacional </p>
                        <a class="btn btn-primary btn-xs" href="que_necesitas.html">Ver más</a>
                    </div>
                </div>
            </div> --><!-- Se agrega si hay un producto mas -->
        </div>
    </div>
</div>