{% load staticfiles tinymce_tags cms_tags sekizai_tags thumbnail i18n  %}
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
<div class="wrapper-thum col-lg-12">
    <div class="row">
        <div class="head col-lg-12">
        	{% if LANGUAGE_CODE == 'es' %}
        	    <h2>Productos</h2>
        	{% else %}
        	    <h2>Products</h2>
        	{% endif %}
        </div>
    </div>
    <div class="row">
    	{% for product in products %}
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3><a href="{{product.absolute_url}}">{{product.name}}</a></h3>
                    <a href="{{product.absolute_url}}"><img class="img-responsive" src="{{product.image.url}}" alt="..."></a>
                    {% if LANGUAGE_CODE == 'es' %}
                        <p><a href="{{product.absolute_url}}" class="btn btn-primary btn-xs" role="button">Ver Producto</a></p>
                    {% else %}
                        <p><a href="{{product.absolute_url}}" class="btn btn-primary btn-xs" role="button">View Details</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>No se encontraron productos. </strong> Esta familia aún no tiene productos asignados.
        </div>
        {% endfor %}
    </div>
</div>